.navbar{
    width: 100%;
    padding: 1em 1em 0 1em;
    display: flex;
    justify-content: flex-end;
    background-color: #141414;
}

.nav_itens{
    display: flex;
    align-items: center;
}

.item{
    list-style: none;
    margin-left: 2em;
}

.item a{
    text-decoration: none;
    color: white;
}

.item a:hover{
    color: #D44D5C;
    text-decoration: underline;
}