.item{
    height: 500px;
    width: 100%;
}

.item img{
    width: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
}

@media only screen and (max-width: 600px){
    .item{
        height: 300px;
    }
    .item img{
        height: 100%;
    }
}