.button{
    width: 100%;
    border: none;
    background-color: #D44D5C;
    color: white;
    border-radius: 5px;
}

.secondary{
    background-color: transparent;
    border: 1px solid white;
    padding-bottom: .5em;
}

.secondary span{
    font-size: .8em;
    margin-left: 1.2em;
    cursor: pointer;
}

@media only screen and (max-width: 600px){

    .secondary{
        width: 50%;
    }

    .secondary span{
        font-size: .8em;
    }
}