.info{
    margin-right: 20px;
    padding: 5px;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 5px;
    background-color: #1b1b1b;
}

.avatar img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.avatar svg{
    width: 100%;
    height: 100%;
    color: #383838;
}

.avatar.user{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.avatar.user img{
    border-radius: 100px;
}