.container{
    padding: 1em;
    margin-top: 10px;
}

.section_container{
    display: flex;
    overflow: auto;
    padding: 1em .5em 2em .5em;
}

.container h1{
    font-size: 1.2em;
}

::-webkit-scrollbar-track {
    background-color: #313131;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #D44D5C;
    border-radius: 5px;
}

@media only screen and (max-width: 600px){

    h1{
        text-align: center;
    }
}