.container{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.userCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    padding: 1em;
}

.userCard h1{
    font-size: 1.5em;
    color: #D44D5C;
}

.about{
    width: 100%;
    margin-top: 70px;
}

.about button{
    margin-top: 50px;
}

.sections{
    width: 75%;
}

@media only screen and (max-width: 600px){

    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .userCard{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .about{
        margin-top: 30px;
        text-align: center;
    }
}